/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LWR   1
#define RSE   2

/ {
  macros {
    copy_to_browser: copy_to_browser {
      compatible = "zmk,behavior-macro";
      label = "copy_to_browser";
      #binding-cells = <0>;
      bindings =
        <&macro_press>,
        <&kp LC(C)>,
        <&macro_release>,
        <&macro_wait_time 1000>
        <&macro_press>,
        <&kp LC(LA(F))>,
        <&macro_release>,
        <&macro_wait_time 1000>,
        <&macro_press>,
        <&kp LC(D)>,
        <&macro_release>,
        <&macro_press>,
        <&kp LC(V)>,
        <&macro_release>;
    };
  };
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
  &kp FSLH  &kp Q       &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp MINUS
  &kp LSHFT &kp A       &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RSHFT
  &kp LCTRL &lt RSE Z   &lt LWR X &kp C &kp V &kp B &tog LWR &tog RSE                      &copy_to_browser &kp EQL &kp N &kp M  &kp COMMA &lt LWR DOT &lt RSE SQT &kp RCTRL
                      &kp ESC &kp LALT &kp TAB &kp BSPC &kp DEL                    &kp EQL &kp SPACE  &kp RET &kp GRAVE &kp BSLH
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
    lower_layer {
      bindings = <
&bt BT_CLR  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                                &kp N6   &kp N7   &kp N8     &kp N9     &kp N0    &bt BT_CLR
  &trans    &trans &trans &trans &trans &trans                                                &kp LEFT &kp DOWN &kp UP     &kp RIGHT  &trans   &trans
  &trans    &trans &trans &trans &trans &trans &trans &trans        &trans    &trans         &trans    &trans   &trans     &trans     &trans   &trans
                   &kp ESC &kp LALT &kp TAB &kp DEL &copy_to_browser        &kp PLUS  &kp SPACE     &kp RET &kp GRAVE &kp BSLH
      >;
    };
    raise_layer {
      bindings = <
  &trans   &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT                                              &kp CARET &kp AMPS  &kp STAR    &kp LPAR   &kp RPAR    &trans
  &trans   &kp LBKT &kp RBKT &kp LBRC &kp RBRC &trans                                                &kp LEFT   &kp DOWN  &kp UP      &kp RIGHT &trans &trans 
  &trans   &trans   &trans   &trans   &trans   &trans &trans &trans        &kp PLUS &kp EQL &kp HOME &kp END  &kp COMMA &kp DOT &kp SQT &kp RCTRL
                   &kp ESC &kp LALT &kp TAB &kp DEL &kp BSPC        &kp PLUS  &kp SPACE  &kp RET &kp GRAVE &kp BSLH
      >;
    };
  };
};
